.portfolio{
  padding:120px 8%;
  background:#f8fafc;
}

.portfolio-header{
  text-align:center;
  max-width:800px;
  margin:auto;
  margin-bottom:60px;
}

.portfolio-header span{
  color:#F27D20;
  font-weight:700;
  letter-spacing:3px;
}

.portfolio-header h2{
  font-size:3rem;
  margin:20px 0;
  color:#0f172a;
}

.portfolio-header p{
  color:#64748b;
  line-height:1.8;
}

.portfolio-filters{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
  margin-bottom:50px;
}

.filter{
  padding:14px 25px;
  border:none;
  border-radius:40px;
  cursor:pointer;
  background:white;
  font-weight:600;
  transition:.3s;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.filter.active{
  background:#F27D20;
}

.masonry-grid{
  column-count:3;
  column-gap:25px;
}

.project{
  position:relative;
  margin-bottom:25px;
  overflow:hidden;
  border-radius:25px;
  cursor:pointer;
}

.project img{
  width:100%;
  display:block;
  transition:.7s;
}

.project:hover img{
  transform:scale(1.1);
}

.project-overlay{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  padding:30px;
  background:linear-gradient(
    to top,
    rgba(15,23,42,.95),
    rgba(15,23,42,.15)
  );
  opacity:0;
  transition:.4s;
}

.project:hover .project-overlay{
  opacity:1;
}

.project-overlay span{
  background:#F27D20;
  color:#0f172a;
  width:max-content;
  padding:8px 18px;
  border-radius:25px;
  font-weight:700;
  margin-bottom:15px;
}

.project-overlay h3{
  color:white;
  margin-bottom:20px;
}

.project-overlay button{
  width:max-content;
  border:none;
  padding:12px 20px;
  border-radius:30px;
  cursor:pointer;
  font-weight:600;
  display:flex;
  align-items:center;
  gap:10px;
}

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  backdrop-filter:blur(10px);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.modal-content{
  width:90%;
  max-width:1100px;
  background:white;
  border-radius:30px;
  overflow:hidden;
  position:relative;
}

.modal-content img{
  width:100%;
  height:500px;
  object-fit:cover;
}

.modal-info{
  padding:40px;
}

.modal-info h2{
  margin-bottom:20px;
  color:#0f172a;
}

.modal-info p{
  color:#64748b;
  line-height:1.8;
}

.meta{
  display:flex;
  gap:30px;
  margin-top:25px;
}

.meta span{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:600;
}

.close{
  position:absolute;
  top:20px;
  right:20px;
  width:50px;
  height:50px;
  border:none;
  border-radius:50%;
  cursor:pointer;
  background:white;
  font-size:18px;
}

@media(max-width:992px){
  .masonry-grid{
    column-count:2;
  }
}

@media(max-width:768px){

  .portfolio{
    padding:80px 5%;
  }

  .portfolio-header h2{
    font-size:2rem;
  }

  .masonry-grid{
    column-count:1;
  }

  .modal-content img{
    height:250px;
  }

  .meta{
    flex-direction:column;
    gap:10px;
  }
}