*{
margin:0;
padding:0;
box-sizing:border-box;
}

.stats{

padding:110px 8%;

background:
linear-gradient(135deg,#0F172A,#15171A);

position:relative;

overflow:hidden;

}

.stats::before{

content:"";

position:absolute;

width:700px;

height:700px;

background:#F4B400;

filter:blur(220px);

opacity:.08;

top:-250px;

left:-250px;

}

.stats::after{

content:"";

position:absolute;

width:500px;

height:500px;

background:#2563EB;

filter:blur(180px);

opacity:.08;

bottom:-200px;

right:-150px;

}

.stats-header{

position:relative;

z-index:2;

text-align:center;

max-width:800px;

margin:auto;

margin-bottom:70px;

color:white;

}

.stats-header span{

color:#F4B400;

font-weight:bold;

letter-spacing:3px;

}

.stats-header h2{

font-size:3rem;

margin:18px 0;

}

.stats-header p{

line-height:1.8;

color:#d8d8d8;

}

.stats-grid{

position:relative;

z-index:2;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:35px;

}

.stat-card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

padding:45px 30px;

border-radius:25px;

text-align:center;

transition:.4s;

position:relative;

overflow:hidden;

}

.stat-card::before{

content:"";

position:absolute;

width:180px;

height:180px;

background:var(--accent);

border-radius:50%;

top:-120px;

right:-100px;

opacity:.15;

transition:.5s;

}

.stat-card:hover{

transform:translateY(-12px);

}

.stat-card:hover::before{

transform:scale(1.8);

}

.circle{

width:90px;

height:90px;

border-radius:50%;

margin:auto;

background:var(--accent);

display:flex;

align-items:center;

justify-content:center;

font-size:38px;

color:white;

margin-bottom:25px;

box-shadow:0 15px 35px rgba(0,0,0,.3);

}

.stat-card h3{

font-size:3rem;

color:white;

margin-bottom:10px;

}

.stat-card p{

color:#d6d6d6;

font-size:1rem;

}

@media(max-width:992px){

.stats-header h2{

font-size:2.4rem;

}

}

@media(max-width:768px){

.stats{

padding:80px 5%;

}

.stats-header h2{

font-size:2rem;

}

.stats-grid{

grid-template-columns:1fr;

}

.stat-card{

padding:35px;

}

.circle{

width:75px;
height:75px;
font-size:30px;

}

.stat-card h3{

font-size:2.5rem;

}

}